@media screen and (min-width: 1024px) {
  main {
    .callContent {
      #callbackForm {
        max-width: 768px;
        width: 40vw;
        max-height: 100%;
        height: 100%;
        margin: 0 auto;
        ul {
          padding: 10px 0 10px 0;
          li {
            ul {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              span {
                font-weight: 500;
              }
            }
          }
        }
        .buttonWrapper {
          #callbackSendButton {
            border: 2px solid var(--lightblack-color);
            font-weight: 700;
            max-width: 240px;
            width: 12.5vw;
            max-height: 50px;
            height: 2.6vw;
            border-radius: 4px;
            &:hover {
              background-color: var(--lightblack-color);
              color: var(--white-color);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  main {
    .callContent {
      #callbackForm {
        max-width: 768px;
        width: 75.07vw;
        max-height: 100%;
        height: 100%;
        margin: 0 auto;
        ul {
          padding: 15px 0 15px 0;
          li {
            ul {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              span {
                font-weight: 500;
              }
            }
          }
        }
        .buttonWrapper {
          #callbackSendButton {
            border: 2px solid var(--lightblack-color);
            font-weight: 700;
            max-width: 240px;
            width: 23.46vw;
            max-height: 50px;
            height: 4.88vw;
            border-radius: 4px;
            &:hover {
              background-color: var(--lightblack-color);
              color: var(--white-color);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 425px) {
  main {
    .callContent {
      #callbackForm {
        max-width: 520px;
        width: 67.79vw;
        max-height: 100%;
        height: 100%;
        margin: 0 auto;
        ul {
          padding: 15px 0 15px 0;
          li {
            ul {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              span {
                font-weight: 500;
                padding: 0 20px 0 20px;
              }
            }
          }
        }
        .buttonWrapper {
          #callbackSendButton {
            border: 2px solid var(--lightblack-color);
            font-weight: 700;
            max-width: 220px;
            width: 28.68vw;
            max-height: 50px;
            height: 6.51vw;
            border-radius: 4px;
            &:hover {
              background-color: var(--lightblack-color);
              color: var(--white-color);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 424px) and (min-width: 320px) {
  main {
    .callContent {
      #callbackForm {
        width: 100%;
        max-height: 100%;
        height: 100%;
        margin: 0 auto;
        ul {
          padding: 15px 0 15px 0;
          li {
            ul {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              span {
                font-weight: 500;
                padding: 0 10px 0 10px;
              }
            }
          }
        }
        .buttonWrapper {
          #callbackSendButton {
            border: 2px solid var(--lightblack-color);
            font-weight: 700;
            max-width: 240px;
            width: 56.6vw;
            max-height: 50px;
            height: 11.79vw;
            border-radius: 4px;
            &:hover {
              background-color: var(--lightblack-color);
              color: var(--white-color);
            }
          }
        }
      }
    }
  }
}