@media screen and (min-width: 1024px) {
  main {
    .start {
      max-height: 810px;
      height: 42.18vw;
      .startContent {
        display: flex;
        align-items: flex-end;
        .startContentWrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          width: 100%;
          max-height: 510px;
          height: 26.56vw;
          .startTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            max-height: 216px;
            height: 11.25vw;
            div {
              h1 {
                text-align: center;
                font-size: 48px;
                font-weight: 900;
              }
            }
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
              max-width: 810px;
              width: 42.18vw;
              max-height: 68px;
              height: 3.54vw;
              li {
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 20px;
                p {
                  color: var(--lightblack-color);
                  font-weight: 900;
                  .articleCounter {
                    &::before {
                      content: "#";
                      color: var(--jq-theme-color);
                    }
                    &::after {
                      content: "#";
                      color: var(--scss-theme-color);
                    }
                  }

                }
                .verticalLine {
                  background-color: var(--lightblack-color);
                  color: transparent;
                  width: 2px;
                  height: 100%;
                  margin: 0 auto;
                }
                &:nth-of-type(3) {
                  max-width: 102px;
                  width: 5.31vw;
                }
                a {
                  color: var(--lightblack-color);
                  font-weight: 300;
                }
              }
            }
          }
          .startDevelopers {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 500px;
            width: 26.04vw;
            max-height: 80px;
            height: 4.16vw;
            .logo:first-of-type {
              width: 8.33vw;
            }
            .logo:last-of-type {
              width: 10.41vw;
            }
          }
        }
      }
    }
    .first {
      max-height: 746px;
      height: 38.85vw;
      .firstContent {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        .blogCards {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          max-height: 486px;
          height: 25.31vw;
          .card {
            max-width: 600px;
            width: 31.25vw;
            max-height: 380px;
            height: 19.79vw;
            &:first-of-type {
              background-image: url("../images/jQforCard.jpg");
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            &:last-of-type {
              background-image: url("../images/scssforCard.jpg");
              background-position: top left;
              background-repeat: no-repeat;
              background-size: contain;
              position: relative;
              overflow: hidden;
              z-index: auto;
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50%;
                max-height: 104px;
                height: 5.41vw;
                border-left:  1px dashed var(--scss-theme-color);
                border-bottom: 1px dashed var(--scss-theme-color);
              }
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                max-height: 370px;
                height: 19.27vw;
                border-right: 1px dashed var(--scss-theme-color);
                border-bottom: 1px dashed var(--scss-theme-color);
              }
            }
          }
        }
      }
    }
    .second, .third {
      max-height: 660px;
      height: 34.37vw;
      .secondContent, .thirdContent {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .secondAboutJQ, .thirdAboutSCSS {
          display: flex;
          justify-content: space-between;
          max-height: 386px;
          height: 20.1vw;
          .langLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            width: 50%;
          }
          .langLogo:first-of-type {
            img {
              max-width: 400px;
              max-height: 200px;
              width: 20.83vw;
              height: 10.41vw;
            }
          }
          .langLogo:last-of-type {
            img {
              max-width: 280px;
              max-height: 210px;
              width: 14.58vw;
              height: 10.93vw;
            }
          }
          .JQTextBlockWrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            .textBlock {
              border-top: 4px solid var(--jq-theme-color);
              border-left: 3px solid var(--jq-theme-color);
              border-right: 10px solid var(--jq-theme-color);
              border-bottom: 3px solid var(--jq-theme-color);
              padding: 10px 15px 0 25px;
              p::selection {
                background-color: var(--jq-theme-color);
                color: var(--white-color);
              }
            }
          }
          .SCSSTextBlockWrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 50%;
            .textBlock {
              border-top: 4px solid var(--scss-theme-color);
              border-left: 10px solid var(--scss-theme-color);
              border-right: 3px solid var(--scss-theme-color);
              border-bottom: 3px solid var(--scss-theme-color);
              padding: 10px 15px 0 25px;
              p::selection {
                background-color: var(--scss-theme-color);
                color: var(--white-color);
              }
            }
          }
        }
      }
    }
  }
}